@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #004279; /*midnight teal*/
  --color-secondary: #FFD700 ; /*Mustard Yellow*/

  /* 
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #d1d5db;

  --color-accent: #37cdbe;
  --color-neutral: #3d4451;
   */
}
